// @font-face {
//   font-family: "Gropled";
//   src: url("../../fonts/Gropled-Bold.otf") format(truetype);
// }
@font-face {
  font-family: 'Gropled';
  src: url('/assets/fonts/Gropled-Bold.otf');
}
@font-face {
  font-family: 'TildaSans-Regular';
  src: url('/assets/fonts/TildaSans-Regular.ttf');
}
@font-face {
  font-family: 'TildaSans-Medium';
  src: url('/assets/fonts/TildaSans-Medium.ttf');
}
