@font-face {
  font-family: 'Gropled';
  src: url('../../fonts/Gropled-Bold.otf');
}
@font-face {
  font-family: 'TildaSans-Regular';
  src: url('../../fonts/TildaSans-Regular.ttf');
}
@font-face {
  font-family: 'TildaSans-Medium';
  src: url('../../fonts/TildaSans-Medium.ttf');
}
